{% extends "adventure/views/templates/layout.html" %}

{% block page_head %}
<h1>{{ adventure.title }}</h1>
{% endblock %}

{% block page_meta %}
<h6 id="slogan">Created by {{ adventure.author }} on {{ adventure.created_on|date:"MM/dd/YYYY" }}</h6>
{% endblock %}

{% block content %}
<div class="post">
  <div class="post_inner">
    <div class="the_post format-text">
      {{ adventure.details|markdown }}

      <p><a href="/adventure/{{ adventure.id }}/scene/{{ adventure.starting_scene_id }}">Begin!</a></p>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block extra-js %}
  {% if analytics-id %}

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create','{{ analytics-id }}','inchingforward.com');
  ga('send', 'pageview');

  {% endif %}
{% endblock %}