
{% extends "adventure/views/templates/base.html" %}

{% block content %}


<div id="adventure-list">
  <div class="row-fluid">
    <div class="span8">
      <h1>Adventures</h1>
      <ul>
      {% for adventure in adventures %}
        <li>
          <a href="/adventure/{{ adventure.id }}">{{ adventure.title }}</a>
          <h2>Created by {{ adventure.author }} on {{ adventure.created_on|date:"MM/dd/yyyy" }}</h2>
        </li>
      {% endfor %}
      </ul>
    </div>
 </div>
</div>

{% endblock %}

